In [1]:
import pandas as pd

df = pd.read_csv(r'chicago.csv')
df.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0

In [2]:
print(df.columns)

Index(['Unnamed: 0', 'Start Time', 'End Time', 'Trip Duration',
       'Start Station', 'End Station', 'User Type', 'Gender', 'Birth Year'],
      dtype='object')

In [3]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     300000 non-null  int64
 1   Start Time     300000 non-null  object
 2   End Time       300000 non-null  object
 3   Trip Duration  300000 non-null  int64
 4   Start Station  300000 non-null  object
 5   End Station    300000 non-null  object
 6   User Type      300000 non-null  object
 7   Gender         238948 non-null  object
 8   Birth Year     238981 non-null  float64
dtypes: float64(1), int64(2), object(6)
memory usage: 20.6+ MB
None

In [4]:
print(df.index)

RangeIndex(start=0, stop=300000, step=1)

In [5]:
print(df.iloc[0:100])# for first row which is columns names

    Unnamed: 0           Start Time             End Time  Trip Duration  \
0      1423854  2017-06-23 15:09:32  2017-06-23 15:14:53            321
1       955915  2017-05-25 18:19:03  2017-05-25 18:45:53           1610
2         9031  2017-01-04 08:27:49  2017-01-04 08:34:45            416
3       304487  2017-03-06 13:49:38  2017-03-06 13:55:28            350
4        45207  2017-01-17 14:53:07  2017-01-17 15:02:01            534
..         ...                  ...                  ...            ...
95     1550326  2017-06-30 21:03:10  2017-06-30 21:27:49           1479
96      422563  2017-03-29 18:02:41  2017-03-29 18:09:11            390
97      442488  2017-04-02 14:39:44  2017-04-02 15:01:54           1330
98      919854  2017-05-22 11:44:34  2017-05-22 12:08:13           1419
99      602414  2017-04-20 08:18:32  2017-04-20 08:26:24            472

                    Start Station                   End Station   User Type  \
0            Wood St & Hubbard St       Damen Ave & Chicago Ave  Subscriber
1             Theater on the Lake  Sheffield Ave & Waveland Ave  Subscriber
2              May St & Taylor St           Wood St & Taylor St  Subscriber
3   Christiana Ave & Lawrence Ave  St. Louis Ave & Balmoral Ave  Subscriber
4          Clark St & Randolph St  Desplaines St & Jackson Blvd  Subscriber
..                            ...                           ...         ...
95        Streeter Dr & Grand Ave     Wacker Dr & Washington St    Customer
96        State St & Van Buren St    Indiana Ave & Roosevelt Rd  Subscriber
97    Sheffield Ave & Webster Ave     Clinton St & Jackson Blvd  Subscriber
98                Montrose Harbor   Lake Shore Dr & Belmont Ave    Customer
99          Canal St & Madison St  Michigan Ave & Washington St  Subscriber

    Gender  Birth Year
0     Male      1992.0
1   Female      1992.0
2     Male      1981.0
3     Male      1986.0
4     Male      1975.0
..     ...         ...
95     NaN         NaN
96    Male      1963.0
97    Male      1983.0
98     NaN         NaN
99    Male      1969.0

[100 rows x 9 columns]

In [7]:
# Practice Problem #1:
""" Compute the Most Popular Start Hour""""

In [8]:
# convert the Start Time column to datetime
df['Start Time'] = pd.to_datetime(df['Start Time'])

## extract hour from the Start Time column to create an hour column
df['hour'] = df['Start Time'].dt.hour

## find the most popular hour
popular_hour = df['hour'].mode()[0]
    
print('Most Popular Start Hour:', popular_hour)

Most Popular Start Hour: 17

In [ ]:
#Practice Problem #2:
'''Display a Breakdown of User Types'''

In [9]:
# print value counts for each user type
user_types = df["User Type"].value_counts()

print(user_types)

Subscriber    238889
Customer       61110
Dependent          1
Name: User Type, dtype: int64

In [ ]:
#Practice Problem #3
'''Load and Filter the Dataset'''

In [14]:
CITY_DATA = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington.csv' }

def load_data(city, month, day):
    """
    Loads data for the specified city and filters by month and day if applicable.

    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    Returns:
        df - pandas DataFrame containing city data filtered by month and day
    """
    
    # load data file into a dataframe
    df = pd.read_csv(CITY_DATA[city])

    # convert the Start Time column to datetime
    df['Start Time'] = pd.to_datetime(df['Start Time'])

    # extract month and day of week from Start Time to create new columns
    df['month'] = df['Start Time'].dt.month
    df['day_of_week'] = df['Start Time'].dt.weekday_name


    # filter by month if applicable
    if month != 'all':
        # use the index of the months list to get the corresponding int
        months = ['january', 'february', 'march', 'april', 'may', 'june']
        month = months.index(month) + 1
    
        # filter by month to create the new dataframe
        df = df[df['month'] == month]

    # filter by day of week if applicable
    if day != 'all':
        # filter by day of week to create the new dataframe
        df = df[df['day_of_week'] == day.title()]
    
    return df